
Py/Py.iml
Py/.idea/$CACHE_FILE$
Py/.idea/$PRODUCT_WORKSPACE_FILE$
Py/.idea/.name
Py/.idea/dictionaries
Py/.idea/inspectionProfiles/Project_Default.xml
Py/.idea/misc.xml
Py/.idea/modules.xml
Py/.idea/workspace.xml
Py/__pycache__/plot.cpython-37.pyc
Py/csv/Cool_Step.csv
Py/csv/Cool_Step.xlsx
Py/csv/dutty_rpm.csv
Py/csv/dutty_rpm.xlsx
Py/csv/Equi_160.csv
Py/csv/Equi_160.xlsx
Py/csv/Equi_255.csv
Py/csv/Equi_255.xlsx
Py/csv/Equi_80.csv
Py/csv/Equi_80.xlsx
Py/csv/max_temp.csv
Py/csv/max_temp.xlsx
Py/csv/mess_calib.csv
Py/csv/mess_calib.xlsx
Py/csv/PID_a-1b10c-0.1.csv
Py/csv/PID_a-1b10c-0.1.xlsx
Py/csv/PID_a-3b2c0.2.csv
Py/csv/PID_a-3b2c0.2.xlsx
Py/csv/PID_a1b0c1.csv
Py/csv/PID_a1b0c1.xlsx
Py/csv/PID_a2b6c0.2.csv
Py/csv/PID_a2b6c0.2.xlsx
Py/csv/PID_a4b2c2.csv
Py/csv/PID_a4b2c2.xlsx
Py/csv/two_point.csv
Py/csv/two_point.xlsx
Py/Py.iml
Py/txt/Cool_Step_13-46_21-10.txt
Py/txt/Cool_Step_14-13_21-10.txt
Py/txt/Cool_Step_15-35_21-10.txt
Py/txt/dutyrpm_09-33_21-10.txt
Py/txt/Equi_160_10-29_21-10.txt
Py/txt/Equi_255_10-36_21-10.txt
Py/txt/Equi_80_10-18_21-10.txt
Py/txt/mess_calib_u.txt
Py/txt/temp_15-54_18-10.txt
Py/txt/twopoint_16-12_18-10.txt
